.footerContainer {
    display: flex;
    background-color: #0066FF;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

@media only screen and (max-width: 600px) {

    .footerContainer {

        display: grid;
        align-content: stretch;
        justify-content: end;
        align-items: start;
        justify-items: center;
    }

    .margin__derechos {
        margin-bottom: 100px;
    }
}

.logos {
    font-size: 2rem;
    text-align: center;
    width: 100%;




}

a,
a:active {
    text-decoration: none;
    color: wheat;
}

a:hover {
    color: black;
    transition: 0.4s;
}

.margin__derechos {}

.hovers:hover {
    color: black;
}

.texto_motivador {
    color: #ffffff;
    text-align: center;
}