.header {

    color: black;
    border-bottom: 2px solid #0066FF;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    width: 100%;
    background-color: #F5F5F5;
    z-index: 1;


}

li {
    font-size: 1.2rem;
    cursor: pointer;
}

li:hover {
    font-weight: bolder;

}

.boton_logout {
    background-color: #0066FF;
    color: #ffffff;
}

.logos {

    color: #0066FF;
}

.logos:hover {
    color: #65C9FF;

}

a,
a:active {
    text-decoration: none;
    color: wheat;
}

a:hover {
    color: black;
    transition: 0.4s;
}

li {
    margin-left: 1rem;
    margin-right: 1rem;


}